<li class="segment"
  data-lol="lol lmao"
  data-name={{@data.name}}
  style="
    left: {{@data.relativeOffset}}%;
    width: {{@data.relativeValue}}%;
  "

  {{on "mouseover" (fn @focusData @data)}}
>
  {{!-- <span class="name">{{@data.name}}</span> --}}
  {{!-- <span class="value">{{dollarify @data.value}}</span> --}}
</li>
