{{#if @data}}
  <ul class="bar"
    style="
      width: {{this.width}}%;
      transform: translateX({{this.left}}%);
    "
  >
  <h3
    style={{this.titleStyle}}
  >{{@data.name}}</h3>

    {{#if (eq this.preferences.mode "html")}}

      {{#each this.relativeBars as |year|}}
        <BarSegmentHtml @data={{year}} @parentName={{@data.name}} @focusData={{this.focusData}} />
      {{/each}}

    {{else if (eq this.preferences.mode "html-lookup")}}

      {{#each this.preferences.years as |yearName|}}
        {{#let (find-by "name" yearName this.relativeBars) as |year|}}
          <BarSegmentHtml @data={{year}} @parentName={{@data.name}} @focusData={{this.focusData}} />
        {{/let}}
      {{/each}}

    {{/if}}
  </ul>
{{/if}}


