{{#if @data}}
  <ul class="bar"
    style="
      width: {{this.width}}%;
      transform: translateX({{this.left}}%);
    "
  >
  <h3
    style={{this.titleStyle}}
  >{{@data.name}}</h3>
  <svg>
    <g>
      {{#each this.preferences.years as |yearName|}}
        {{#let (find-by "name" yearName this.relativeBars) as |year|}}
          {{!-- <rect class="segment" data-name={{year.name}} width='100%' height='25'></rect>;   --}}
          <BarSegmentSvg @data={{year}} @parentName={{@data.name}} @focusData={{this.focusData}} />
        {{/let}}
      {{/each}}
    </g>
  </svg>


    {{#each this.preferences.years as |yearName|}}
      {{#let (find-by "name" yearName this.relativeBars) as |year|}}



        {{!-- <BarSegmentHtml @data={{year}} @parentName={{@data.name}} @focusData={{this.focusData}} /> --}}
      {{/let}}
    {{/each}}
  </ul>
{{/if}}


