{{page-title "Viz Perf Comparison in Ember"}}


<form class="preferences">
  <Hds::Form::Radio::Group @name="normalize" as |G|>
    <G.Legend>Normalization</G.Legend>
    {{!-- <G.Radio::Field
      checked={{eq this.preferences.normalize "normalize"}}
      {{on "click" (fn (mut this.preferences.normalize) "commodity")}}
    as |F|>
      <F.Label>Commodity-relative</F.Label>
    </G.Radio::Field> --}}
    <G.Radio::Field
      checked={{eq this.preferences.normalize "year"}}
      {{on "click" (fn (mut this.preferences.normalize) "year")}}
    as |F|>
      <F.Label>Year-realtive</F.Label>
    </G.Radio::Field>
    <G.Radio::Field
      checked={{eq this.preferences.normalize "country"}}
      {{on "click" (fn (mut this.preferences.normalize) "country")}}
    as |F|>
      <F.Label>Country-relative</F.Label>
    </G.Radio::Field>
  </Hds::Form::Radio::Group>

  <Hds::Form::Radio::Group @name="mode" as |G|>
    <G.Legend>Mode</G.Legend>
    {{#each this.preferences.modes as |mode|}}
    <G.Radio::Field
      checked={{eq this.preferences.mode mode}}
      {{on "click" (fn (mut this.preferences.mode) mode)}}
    as |F|>
      <F.Label>{{mode}}</F.Label>
    </G.Radio::Field>
    {{/each}}
  </Hds::Form::Radio::Group>

  <Hds::Form::Checkbox::Group @name="countries" as |G|>
    <G.Legend>Countries</G.Legend>
    {{#each this.preferences.allCountries as |country|}}
    <G.Checkbox::Field
      checked={{includes country this.preferences.countries}}
      {{on "click" (fn this.preferences.toggleCountry country)}}
    as |F|>
      <F.Label>{{country}}</F.Label>
    </G.Checkbox::Field>
    {{/each}}
  </Hds::Form::Checkbox::Group>

  <Hds::Form::Checkbox::Group @name="commodities" as |G|>
    <G.Legend>Commodities ({{this.preferences.commodities.length}})</G.Legend>
    {{#each this.preferences.allCommodities as |commodity|}}
    <G.Checkbox::Field
      checked={{includes commodity this.preferences.commodities}}
      {{on "click" (fn this.preferences.toggleCommodity commodity)}}
    as |F|>
      <F.Label>{{commodity}}</F.Label>
    </G.Checkbox::Field>
    {{/each}}
  </Hds::Form::Checkbox::Group>

  <Hds::Form::Checkbox::Group @name="years" as |G|>
    <G.Legend>Years</G.Legend>
    {{#each this.preferences.allYears as |year|}}
    <G.Checkbox::Field
      checked={{includes year this.preferences.years}}
      {{on "click" (fn this.preferences.toggleYear year)}}
    as |F|>
      <F.Label data-year={{year}}>{{year}}</F.Label>
    </G.Checkbox::Field>
    {{/each}}
  </Hds::Form::Checkbox::Group>

</form>
{{outlet}}

<footer class="app-footer">
  {{#if this.preferences.focusing.country}}
    <h3>Country: {{this.preferences.focusing.country.name}}</h3>
  {{/if}}
  {{#if this.preferences.focusing.commodity}}
    <h3>Commodity: {{this.preferences.focusing.commodity.name}}</h3>
  {{/if}}
  {{#if this.preferences.focusing.year}}
    <h3>Year: {{this.preferences.focusing.year.name}}, {{dollarify this.preferences.focusing.year.value}}</h3>
  {{/if}}
</footer>