{{page-title "Exports by Country"}}

<header class="app-header">
  <Hds::PageHeader as |PH|>
    <PH.Title>U.S. Exports by Country</PH.Title>
    <PH.Description>
      <a href="https://www.census.gov/foreign-trade/statistics/historical/enduse.html">via https://www.census.gov/foreign-trade/statistics/historical/enduse.html</a>
      <h3>Fun demo links:</h3>
      <ul>
        <li>
          <LinkTo @route="lookup-example">Direct Data vs Lookup example</LinkTo>
        </li>
        <li>
          <LinkTo @route="exports-by-country" @query={{hash
            normalize="year"
            countries=(array "Antigua and Barbuda" "Bahamas" "Barbados" "Cuba" "Dominica" "Dominican Republic" "Haiti" "Jamaica" "St Kitts and Nevis" "St Lucia" "St Vincent and the Grenadines" "Trinidad and Tobago" )
            commodities=(array "Alcoholic beverages, excluding wine" "Animal feeds, n.e.c." "Bakery products" "Corn" "Dairy products and eggs" "Food, tobacco machinery" "Fruits, frozen juices" "Meat, poultry, etc." "Nonagricultural foods, etc." "Nuts" "Oilseeds, food oils" "Other foods" "Rice" "Sorghum, barley, oats" "Soybeans" "Vegetables" "Wheat" "Wine, beer, and related products")
            years=(array 2013 2014 2015 2016 2017 2018 2019 2020 2021 2022)
          }}>Carribean Food Exports</LinkTo>
        </li>
        <li>
          <LinkTo @route="exports-by-country" @query={{hash
            normalize="year"
            countries=(array "Argentina" "Bolivia" "Brazil" "Chile" "Colombia" "Ecuador" "Guyana" "Paraguay" "Peru" "Suriname" "Uruguay" "Venezuela")
            commodities=(array "Agricultural machinery, equipment" "Automotive tires and tubes" "Bodies and chassis for passenger cars" "Engines and engine parts (carburetors, pistons, rings, and valves)" "Excavating machinery" "Industrial engines" "Industrial machines, other" "Industrial rubber products" "Materials handling equipment" "Nonfarm tractors and parts" "Other parts and accessories of vehicles" "Passenger cars, new and used" "Trucks, buses and special purpose vehicles")
            years=(array 2013 2014 2015 2016 2017 2018 2019 2020 2021 2022)
          }}>South American Automotive Exports</LinkTo>
        </li>
        <li>
          <LinkTo @route="exports-by-country" @query={{hash
            normalize="year"
            countries=(array "Ukraine" "Russia" "Estonia" "Latvia" "Belarus" "Poland" "Slovakia" "Moldova")
            commodities=(array "Aircraft launching gear, parachutes, etc." "Engines and turbines for military aircraft" "Military aircraft, complete" "Military apparel and footwear" "Military ships and boats" "Military trucks, armored vehicles, etc." "Parts for military-type goods" "Tanks, artillery, missiles, rockets, guns and ammunition" "Telecommunications equipment")
            years=(array 2013 2014 2015 2016 2017 2018 2019 2020 2021 2022)
          }}>War in Ukraine</LinkTo>
        </li>
        <li>
          <LinkTo @route="exports-by-country" @query={{hash
            normalize="year"
            countries=(array "Canada" "France" "Germany" "Italy" "Japan" "United Kingdom" "Russia")
            commodities=(array "Pharmaceutical preparations" "Chemicals-inorganic" "Chemicals-organic" "Laboratory testing instruments" "Medicinal Equipment" "Toiletries and cosmetics")
            years=(array 2013 2014 2015 2016 2017 2018 2019 2020 2021 2022)
          }}>G8 Pharma</LinkTo>
        </li>
        <li>
          <LinkTo @route="exports-by-country" @query={{hash
            normalize="country"
            countries=(array "Mexico" "Hong Kong" "China")
            commodities=(array "Agric. farming-unmanufactured" "Agric. industry-unmanufactured" "Agricultural machinery, equipment" "Agriculture-manufactured, other" "Aircraft launching gear, parachutes, etc." "Alcoholic beverages, excluding wine" "Aluminum and alumina" "Animal feeds, n.e.c." "Apparel, household goods - textile" "Apparel,household goods-nontextile" "Artwork, antiques, stamps, etc." "Automotive tires and tubes" "Bakery products" "Bodies and chassis for passenger cars" "Books, printed matter" "Business machines and equipment" "Cell phones and other household goods, n.e.c." "Chemicals-fertilizers" "Chemicals-inorganic" "Chemicals-organic" "Chemicals-other" "Civilian aircraft" "Civilian aircraft, engines, equipment, and parts" "Coal and fuels, other" "Commercial vessels, other" "Computer accessories" "Computers" "Cookware, cutlery, tools" "Copper" "Corn" "Cotton fiber cloth" "Cotton, raw" "Crude oil" "Dairy products and eggs" "Drilling & oilfield equipment" "Electric apparatus" "Electric energy" "Engines and engine parts (carburetors, pistons, rings, and valves)" "Engines and turbines for military aircraft" "Excavating machinery" "Finished metal shapes" "Finished textile supplies" "Fish and shellfish" "Food, tobacco machinery" "Fruits, frozen juices" "Fuel oil" "Furniture, household goods, etc." "Gas-natural" "Gem diamonds" "Generators, accessories" "Glass-plate, sheet, etc." "Glassware, chinaware" "Hair, waste materials" "Hides and skins" "Household appliances" "Industrial engines" "Industrial machines, other" "Industrial rubber products" "Iron and steel mill products" "Iron and steel products, other" "Jewelry, etc." "Laboratory testing instruments" "Leather and furs" "Logs and lumber" "Manmade cloth" "Marine engines, parts" "Materials handling equipment" "Measuring, testing, control instruments" "Meat, poultry, etc." "Medicinal Equipment" "Metallurgical grade coal" "Metalworking machine tools" "Military aircraft, complete" "Military apparel and footwear" "Military ships and boats" "Military trucks, armored vehicles, etc." "Mineral supplies-manufactured" "Minimum value shipments" "Miscellaneous domestic exports and special transactions" "Musical instruments" "Natural gas liquids" "Newsprint" "Nonagricultural foods, etc." "Nonfarm tractors and parts" "Nonferrous metals, other" "Nonmetallic minerals" "Nonmonetary gold" "Nontextile floor tiles" "Nuclear fuel materials" "Numismatic coins" "Nursery stock, etc." "Nuts" "Oilseeds, food oils" "Other consumer nondurables" "Other foods" "Other industrial supplies" "Other parts and accessories of vehicles" "Parts for military-type goods" "Passenger cars, new and used" "Petroleum products, other" "Pharmaceutical preparations" "Photo, service industry machinery" "Plastic materials" "Pleasure boats and motors" "Precious metals, other" "Pulp and paper machinery" "Pulpwood and woodpulp" "Railway transportation equipment" "Recorded media" "Rice" "Rugs" "Semiconductors" "Shingles, molding, wallboard" "Sorghum, barley, oats" "Soybeans" "Spacecraft, excluding military" "Specialized mining" "Sports apparel and gear" "Steelmaking materials" "Stereo equipment, etc." "Synthetic rubber-primary" "Tanks, artillery, missiles, rockets, guns and ammunition" "Tapes, audio and visual" "Telecommunications equipment" "Televisions and video equipment" "Textile, sewing machines" "Tobacco, manufactured" "Tobacco, unmanufactured" "Toiletries and cosmetics" "Toys, games, and sporting goods" "Trucks, buses and special purpose vehicles" "Vegetables" "Vessels, excluding scrap" "Wheat" "Wine, beer, and related products" "Wood supplies, manufactured" "Wood, glass, plastic")
            years=(array 2013 2014 2015 2016 2017 2018 2019 2020 2021 2022)
          }}>Mexico, China, and HK Kitchen Sink</LinkTo>
        </li>
        {{!-- <li>
          <LinkTo @route="exports-by-country" @query={{hash
            normalize="year"
            mode="html-lookup"
            countries=(array "Canada" "Mexico" "China" "United Kingdom" "Japan" "Netherlands" "Germany" "Korea, South" "Brazil" "France")
            commodities=(array "Agric. farming-unmanufactured" "Agric. industry-unmanufactured" "Agricultural machinery, equipment" "Agriculture-manufactured, other" "Aircraft launching gear, parachutes, etc." "Alcoholic beverages, excluding wine" "Aluminum and alumina" "Animal feeds, n.e.c." "Apparel, household goods - textile" "Apparel,household goods-nontextile" "Artwork, antiques, stamps, etc." "Automotive tires and tubes" "Bakery products" "Bodies and chassis for passenger cars" "Books, printed matter" "Business machines and equipment" "Cell phones and other household goods, n.e.c." "Chemicals-fertilizers" "Chemicals-inorganic" "Chemicals-organic" "Chemicals-other" "Civilian aircraft" "Civilian aircraft, engines, equipment, and parts" "Coal and fuels, other" "Commercial vessels, other" "Computer accessories" "Computers" "Cookware, cutlery, tools" "Copper" "Corn" "Cotton fiber cloth" "Cotton, raw" "Crude oil" "Dairy products and eggs" "Drilling & oilfield equipment" "Electric apparatus" "Electric energy" "Engines and engine parts (carburetors, pistons, rings, and valves)" "Engines and turbines for military aircraft" "Excavating machinery" "Finished metal shapes" "Finished textile supplies" "Fish and shellfish" "Food, tobacco machinery" "Fruits, frozen juices" "Fuel oil" "Furniture, household goods, etc." "Gas-natural" "Gem diamonds" "Generators, accessories" "Glass-plate, sheet, etc." "Glassware, chinaware" "Hair, waste materials" "Hides and skins" "Household appliances" "Industrial engines" "Industrial machines, other" "Industrial rubber products" "Iron and steel mill products" "Iron and steel products, other" "Jewelry, etc." "Laboratory testing instruments" "Leather and furs" "Logs and lumber" "Manmade cloth" "Marine engines, parts" "Materials handling equipment" "Measuring, testing, control instruments" "Meat, poultry, etc." "Medicinal Equipment" "Metallurgical grade coal" "Metalworking machine tools" "Military aircraft, complete" "Military apparel and footwear" "Military ships and boats" "Military trucks, armored vehicles, etc." "Mineral supplies-manufactured" "Minimum value shipments" "Miscellaneous domestic exports and special transactions" "Musical instruments" "Natural gas liquids" "Newsprint" "Nonagricultural foods, etc." "Nonfarm tractors and parts" "Nonferrous metals, other" "Nonmetallic minerals" "Nonmonetary gold" "Nontextile floor tiles" "Nuclear fuel materials" "Numismatic coins" "Nursery stock, etc." "Nuts" "Oilseeds, food oils" "Other consumer nondurables" "Other foods" "Other industrial supplies" "Other parts and accessories of vehicles" "Parts for military-type goods" "Passenger cars, new and used" "Petroleum products, other" "Pharmaceutical preparations" "Photo, service industry machinery" "Plastic materials" "Pleasure boats and motors" "Precious metals, other" "Pulp and paper machinery" "Pulpwood and woodpulp" "Railway transportation equipment" "Recorded media" "Rice" "Rugs" "Semiconductors" "Shingles, molding, wallboard" "Sorghum, barley, oats" "Soybeans" "Spacecraft, excluding military" "Specialized mining" "Sports apparel and gear" "Steelmaking materials" "Stereo equipment, etc." "Synthetic rubber-primary" "Tanks, artillery, missiles, rockets, guns and ammunition" "Tapes, audio and visual" "Telecommunications equipment" "Televisions and video equipment" "Textile, sewing machines" "Tobacco, manufactured" "Tobacco, unmanufactured" "Toiletries and cosmetics" "Toys, games, and sporting goods" "Trucks, buses and special purpose vehicles" "Vegetables" "Vessels, excluding scrap" "Wheat" "Wine, beer, and related products" "Wood supplies, manufactured" "Wood, glass, plastic")
            years=(array 2013 2014 2015 2016 2017 2018 2019 2020 2021 2022)
          }}>Top 10 Trade Partners</LinkTo>
        </li> --}}
        <li>
          <LinkTo @route="exports-by-country" @query={{hash
            normalize="year"
            countries=(array "World Total")
            commodities=(array "Agric. farming-unmanufactured")
            years=(array 2013 2014 2015 2016 2017 2018 2019 2020 2021 2022)
          }}>Reset Query Params</LinkTo>
        </li>
      </ul>
    </PH.Description>
  </Hds::PageHeader>
</header>


<section class="main">
  {{#if (eq this.preferences.mode "html")}}
    {{#each this.data as |country|}}
      <BarChartHtml @data={{country}} @focusData={{this.focusData}} />
    {{/each}}
  {{else if (eq this.preferences.mode "html-lookup")}}
    {{#each this.preferences.countries as |countryName|}}
      {{#let (find-by "name" countryName this.model) as |country|}}
      {{!-- ^--- swap "this.model" for "this.data" for nonsense --}}
        <BarChartHtml @data={{country}} @focusData={{this.focusData}} />
      {{/let}}
    {{/each}}
  {{else if (eq this.preferences.mode "svg")}}
    {{#each this.preferences.countries as |countryName|}}
      {{#let (find-by "name" countryName this.model) as |country|}}
        <BarChartSvg @data={{country}} @focusData={{this.focusData}} />
      {{/let}}
    {{/each}}
  {{else}}
    Listen, I've been pretty busy lately.
  {{/if}}

  {{outlet}}
</section>