{{page-title "Exports by Country"}}

<header class="app-header">
  <Hds::PageHeader as |PH|>
    <PH.Title>U.S. Exports by Country</PH.Title>
    <PH.Description>
      <a href="https://www.census.gov/foreign-trade/statistics/historical/enduse.html">via https://www.census.gov/foreign-trade/statistics/historical/enduse.html</a>
      <h3>Fun demo links:</h3>
      <ul>
        <li>
          <LinkTo @route="exports-by-country" @query={{hash
            normalize="year"
            mode="html-lookup"
            countries=(array "Antigua and Barbuda" "Bahamas" "Barbados" "Cuba" "Dominica" "Dominican Republic" "Haiti" "Jamaica" "St Kitts and Nevis" "St Lucia" "St Vincent and the Grenadines" "Trinidad and Tobago" )
            commodities=(array "Alcoholic beverages, excluding wine" "Animal feeds, n.e.c." "Bakery products" "Corn" "Dairy products and eggs" "Food, tobacco machinery" "Fruits, frozen juices" "Meat, poultry, etc." "Nonagricultural foods, etc." "Nuts" "Oilseeds, food oils" "Other foods" "Rice" "Sorghum, barley, oats" "Soybeans" "Vegetables" "Wheat" "Wine, beer, and related products")
            years=(array 2013 2014 2015 2016 2017 2018 2019 2020 2021 2022)
          }}>Carribean Food Exports</LinkTo>
        </li>
        <li>
          <LinkTo @route="exports-by-country" @query={{hash
            normalize="year"
            mode="html-lookup"
            countries=(array "Argentina" "Bolivia" "Brazil" "Chile" "Colombia" "Ecuador" "Guyana" "Paraguay" "Peru" "Suriname" "Uruguay" "Venezuela")
            commodities=(array "Agricultural machinery, equipment" "Automotive tires and tubes" "Bodies and chassis for passenger cars" "Engines and engine parts (carburetors, pistons, rings, and valves)" "Excavating machinery" "Industrial engines" "Industrial machines, other" "Industrial rubber products" "Materials handling equipment" "Nonfarm tractors and parts" "Other parts and accessories of vehicles" "Passenger cars, new and used" "Trucks, buses and special purpose vehicles")
            years=(array 2013 2014 2015 2016 2017 2018 2019 2020 2021 2022)
          }}>South American Automotive Exports</LinkTo>
        </li>
        <li>
          <LinkTo @route="exports-by-country" @query={{hash
            normalize="year"
            mode="html-lookup"
            countries=(array "World Total")
            commodities=(array "Wheat")
            years=(array 2013 2014 2015 2016 2017 2018 2019 2020 2021 2022)
          }}>Reset Query Params</LinkTo>
        </li>
      </ul>
    </PH.Description>
  </Hds::PageHeader>
</header>


<section class="main">
  {{#if (eq this.preferences.mode "html")}}
    {{#each this.data as |country|}}
      <h2>{{country.name}}</h2>
      {{#each country.commodities as |commodity|}}
        <div class="bar-chart">
          <h3>{{commodity.name}}</h3>
          <ul>
          {{#each commodity.years as |datum|}}
            <li>{{datum.year}}: {{datum.value}}</li>
          {{/each}}
          </ul>
        </div>
      {{/each}}
    {{/each}}
  {{else if (eq this.preferences.mode "html-lookup")}}
    {{#each this.preferences.countries as |countryName|}}
      {{#let (find-by "name" countryName this.model) as |country|}}
      {{!-- ^--- swap "this.model" for "this.data" for nonsense --}}
        <BarChartHtml @data={{country}} @focusData={{this.focusData}} />
      {{/let}}
    {{/each}}
  {{else}}
    NO
  {{/if}}

  {{outlet}}
</section>